rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null && request.auth.token.email == 'admin@example.com';
    }
    match /fanar_images/{uid}/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /fanar_videos/{uid}/{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
    match /{allPaths=**} { allow read: if true; allow write: if isAdmin(); }
  }
}
